#yt {
    color: red;
}

#twt {
    color: cyan;
}

#wht {
    color: lightgreen;
}

#fcb {
    color: blue;
}

#tt {
    color: darkviolet;
}
#inst {
    color: lightcoral;
}
.cursivaepic {
    font-style: oblique;
    background-color: gray;
}