<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINECRAFT OFICIAL 100% REAL NO FAKE</title>
    <link rel="stylesheet" href="waza.css">
</head>

<body>
    <h1>DESCARGA MINECRAFT HOY</h1>
    <p>mi gente si quieren el link busquenlo en mis redes sociales aqui abajo:</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo reprehenderit facere nihil saepe sit
        dignissimos cumque delectus sed nostrum, rem id maxime fugiat odit quos nobis debitis impedit nisi?</p>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="yt" class="cursivaepic">Youtube</a></li>
        <li><a href="https://x.com/?lang=es" id="twt" class="cursivaepic">Twitter</a></li>
        <li><a href="https://web.whatsapp.com/" id="wht" class="cursivaepic">WhatsApp</a></li>
        <li><a href="https://www.facebook.com/?locale=es_LA" id="fcb" class="cursivaepic">Facebook</a></li>
        <li><a href="https://www.instagram.com/" id="inst" class="cursivaepic">Instagram</a></li>
        <li><a href="https://www.tiktok.com/es/" id="tt" class="cursivaepic">Tik Tok</a></li>

    </ul>
</body>

</html>