<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/mcepic.css">
    <title>Document</title>
</head>
<body>
    <header>
    <img src="../public/images/mclogo.jpg" alt="minecraft logo" >
        <ul>

            <li>Descargas</li>
            <li>Ofertas</li>
            <li>Comunidad</li>
            <li>Soporte</li>
        </ul>    
        <input type="text" placeholder="Buscar...">
</header>
<main>

    <article>
          <img id="mclegends" src="../public/images/Minecraft_Legends_PreOrder_Trailer_Thumbnail_1280x720.avif" alt="Minecraft Legends"> 
          <p>Minecraft Legends</p>
          <p>29,99$</p>        
    </article>
    <article>
            <img id="mcdungenos" src="../public/images/Minecraft Dungeons.avif" alt="Minecraft Dungeons">
            <p>Minecraft Dungeons</p>
            <p>19,99$</p>
    </article>
    <article>
            <img id="mcjavaybedrock" src="../public/images/mc java.jpg" alt="Minecraft Java y Bedrock">
            <p>Minecraft Java y Bedrock</p>
            <p>49,99$</p>
    </article>
</main>
<footer>
    <ul>
        <li><img id="logoCreeper" src="../public/images/creeperOhMan.jpg" alt="Logo"></li>
        <h4>Contactanos! (redes sociales)</h4>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Discord</li>
    </ul>
    <p>Minecraft 2024© Todos los derechos reservados.</p>
</footer>
</body>
</html>